<div class="user-index">
    <h1>ユーザー一覧</h1>
    <div class="users-message">
    <% if flash[:notice] %>
    <%= flash[:notice] %>
    <% end %>
    </div>
    
    <% @users.each do|user|%>
    <div class="user-list">
    <img src="<%= "/user_images/#{user.image_name}" %>" class="user-image">
    <!---<div class="user-name"--->
        <%=link_to(user.name,"/users/#{user.id}",{class: "user-name"}) %> 
    <!----</div>---->
    </div>
    <% end %>
    
</div>