
<div class="error-message">
<% if @post.errors.any? %>
<% @post.errors.full_messages.each do |message| %>
            <ul>
              <li><%= message %></li>
              </ul>
              </div>
              <% end %>
          <% end %>
          
<div class="post-edit-form">          
<h1>編集する</h1>
<%= form_tag("/posts/#{@post.id}/update")do %>
<textarea name="content"><%= @post.content %></textarea>
<br><input type="submit" value="投稿">
</div>
    
<% end %>
