<div class="error-message">
<% if @post.errors.any? %>
<% @post.errors.full_messages.each do |message| %>
<%= message %>
<% end %>
<% end %>   
</div>



<div class="post-new">
    <h1>つぶやく</h1>
    <%= form_tag("/posts/create")do %>
    <textarea name="content" class="post-textarea" placeholder="いまどうしてる？"></textarea>
    
    <br><input type="submit" value="投稿">
     
    <% end %>
    
    </div>