<div class="post-new">
    <h1>つぶやく</h1>
    <%= form_tag("/posts/create")do %>
    <div class="post-textarea">
    <textarea name="content"></textarea>
    </div>
    <input type="submit" value="投稿">
     
    <% end %>
    
    </div>