// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//ここからscss//

.top-moji{
    padding: 250px;
    text-align: center;
    font-family: 'Sawarabi Gothic', sans-serif;
    
}
.top-moji h1{
    font-size: 100px;
    color: white;
    font-weight: bold;
}

body{
    background-image: url(/back-image.jpeg);
    background-size: cover;

}

.navigate-var{
    padding: 50px 30px 50px 30px;
}
header{
    background-color: white;
}
.image-circle{
width: 80px;
height: 80px;
}

.wrapper{
    display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
    margin-top: auto;
    background-color: #89c7de;
    color: #fff;
    text-align: center;
    padding: 30px;
}
.footer-text{
    text-align: center;
}

.push {
  display: block;
  height: 200px;
}

/*
header{
    border: solid 2px;
}

.header-top{
    float:left;
    padding:20px;
}

.header-menu{
    float:right;
    padding:20px;
}



header{
    padding:50px;
  background-color:#CCCCFF;  
}


*/


