// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header-top{
    float:left;
    padding:20px;
}

.header-menu{
    float:right;
    padding:20px;
}

.top{
    padding:200px;
    text-align: center;
    
}

header{
    padding:50px;
  background-color:aqua;  
}

